body {
    background-color: limegreen;
}

.registerbox {
    border: solid 3px greenyellow;
    border-radius: 9px;
    width: 40%;
    column-gap: 20px;
    text-align: center;
    padding: 10px;
    margin: auto; 
}

.input1 {
    margin: 5px;
}
input {
    border: 2px solid;
    border-radius: 4px;
    font-size: 1rem;
    margin: 0.25rem;
    width: 60%;
    min-width: 125px;
    padding: 0.5rem;
    transition: background-color 0.5s ease-out;
  }
.buttons{
    margin: 15px;
    color: black;
    text-decoration: none;
}
.buttons:hover{
    text-decoration: none;
    color: greenyellow;
}
.registerbtn:hover{
    background-color: greenyellow;

}
@media screen and (max-width: 480px) {
    .registerbox {
    width: 90%;
   }
  }
@media screen and (max-width: 850px) {
    .registerbox {
     width: 70%;
    }
   }
