body {
    background-color: limegreen;
}

.imagebox {
    background-image: url("https://www.clipartmax.com/png/middle/84-842352_cars-clip-art-images-free-for-commercial-use-coche-clipart.png");
    height: 200px;
    background-repeat: no-repeat;
    background-size: contain;
}

.table{
    border: 2px solid black;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.column {
    border: 2px solid red;
    flex-grow: 1;
    text-align: center;
    max-width: 24vw;
}