.border-current {
border-color: greenyellow;
border-radius: 5px;
display: flex;
justify-content: center;
column-gap: 20px;
align-items: center;
padding: 10px;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.border-current a:hover {
    text-decoration: underline;
}
.title {
    color: red;
    font-weight: 700; 
    font-size: 80px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.header {
    background-color: rgb(62, 171, 62);
}
#font{
    font-size: 30px;
    justify-content: center;
   
}